.DS_Store
InteractiveResume Materials/Release
InteractiveResume.inform/Build
InteractiveResume.inform/Index
InteractiveResume.inform/Metadata.iFiction
InteractiveResume.inform/Release.blurb
InteractiveResume.inform/manifest.plist
InteractiveResume.inform/notes.rtf
InteractiveResume.inform/Skein.skein
InteractiveResume.inform/Settings.plist
InteractiveResume.inform/gameinfo.dbg
